<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <th:block th:each="user : ${users}">
        <table border="1" cellpadding="5">
            <tr>
                <td><a th:href="@{/admin/user/{id}(id=${user.getId()})}" th:text="${user.id}">id</a></td>
                <td th:text="${user.username}">name</td>
                <td th:text="${user.lastname}">lastname</td>
                <td th:text="${user.email}">email</td>
                <td><a th:href="@{/admin/users/{id}/edit(id=${user.getId()})}" th:text="UPDATE">id</a></td>
                <td><form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                    <input type = "submit" value="Delete"/>
                </form>
                </td>
            </tr>
        </table>
    </th:block>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div>
<a href = "users/adduser"> Create user </a>
</div>

</body>
</html>